{% include 'plain_navigation.html' %}

<h1 class="post-list-header">#myPosts</h1>



<div class="list-container">
<div class="row card-col">
{% for object in object_list %}

        <div class="col-3">

        <div onclick="location.href='{{object.slug}}/';" class="post-list-item row">
        <div class="media col-6" style="background-image: url({{object.header_pic.url}})">

        </div>
        <div class="media col-6">
        <div class="row justify-content-around">
            <p class="date-in-card col-12">{{ object.get_date }}</p>
            <h3 class="card-title col-12">{{ object.title }}</h3>
            <i class="fas fa-lg fa-ruler-horizontal"></i>
            <p class="extract col-12"> {{ object.extract }} <br>  <a href="{% url 'post_detail' object.slug %}"> Read Post </a></p>
            
        </div>
        </div>  
        </div>  
        </div>


    
{% endfor %}
</div>



</div>