asgiref @ file:///tmp/build/80754af9/asgiref_1594338739818/work
astroid @ file:///opt/concourse/worker/volumes/live/21fd14a9-2a7e-484b-7394-5a9912cdcf80/volume/astroid_1592498459180/work
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
Django==3.0.3
django-bootstrap3==14.1.0
django-braces==1.14.0
django-instagram==0.3.2
idna==2.10
isort @ file:///opt/concourse/worker/volumes/live/de95e5fd-7ccd-4ecd-6060-6ddca975eb68/volume/isort_1597597672330/work
lazy-object-proxy==1.4.3
lxml==4.5.2
mccabe==0.6.1
misaka==2.1.1
Pillow==7.2.0 

# The Python Imaging Library (PIL) is

#     Copyright © 1997-2011 by Secret Labs AB
#     Copyright © 1995-2011 by Fredrik Lundh

pycparser==2.20
pylint @ file:///opt/concourse/worker/volumes/live/ed0164b6-bcc7-4f6b-7dd4-ad89660b5dcb/volume/pylint_1598624018129/work
pylint-django==2.3.0
pylint-plugin-utils==0.6
pytz==2020.1
requests==2.24.0
six==1.15.0
sorl-thumbnail==12.6.3
sqlparse==0.3.1
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
urllib3==1.25.10
wrapt==1.11.2
