@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
/* code from codepn  */

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');


* {
    margin: 0;
    padding: 0;
  }
  
  body {

  }
  
  .header {
    width: 100%;
    height: 150px;
    min-height: 50px !important;
    max-height: 150px !important;
    position: fixed;
    top: 0;
    background-color: rgba(238, 238, 238, 0);
    box-shadow: 0 0 3px rgba(165, 165, 165, 0);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    z-index: 1;
    border-bottom: 4px solid RGBA(151,242,243,0) ;
  }
  
  .header-wrap {
    width: 90%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    position: relative;
    z-index: 1;
  }
  
  .logo {
    height: 65%;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform-origin: bottom;
   
    
  }

.logo img{
       
      display: block;
      height: 100%;
      max-height: 80px;
    
}
  
  .nav {
    width: 425px;
    display: block;
    list-style: none;
    position: absolute;
    top: 50%;
    right: 6%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
  }

  .nav li{
      width: 80px;
      margin-right: 35px;
      position: relative;
      left:70%;
      color:blue;
      float:right;

  }    

  .nav li:last-child
      {
        margin: 0;
      }
    
    
  .nav a {
      width: 100%;
      height: 100%;
      display: block;
      font-family: Helvetica, Arial, sans-serif;
      color: #222;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      float:right;
    }
  
  .hero {
    width: 100%;
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1031&q=80') center no-repeat;
    background-size: cover;
  }

/* my code */

/* #home page */

.instagram-widget{
  border: solid 2px #97f2f3;
  margin-top:50px;
  margin-left:20px;
  padding-top:30px;
  text-align: center;
  vertical-align: middle;
  height:700px;
  justify-content: space-around;
  border-radius: 10%;
  padding-top: 100px;
  margin-bottom: 150px;  
}

.instagram-widget:hover{
  transform:scale(1.01)
}

.fa-address-card{
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top:5px;
}

.ig-photo{
  margin-top: 100px;
  border-radius: 50%;
  height:200px;
  width: 200px;
  display: inline-block;
  margin:20px;
}

.mywork-widget1{
  border-radius :10%;
  margin-top:50px;
  height: 500px;
  cursor: pointer;
}

.mywork-widget1:hover{
  transform:scale(1.01)
}

.mywork-widget2{
  border-radius :10%;
  margin-top:50px;
  height: 500px;
  margin-right: 20px;
  cursor: pointer;
  /* sbackground-image: url("https://images.unsplash.com/photo-1531379410502-63bfe8cdaf6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"); */
}

.mywork-widget2:hover{
  transform:scale(1.01)
}

.project-img{
  width: 100%;
  height: 100%; 
  border-radius: 10%;
  object-fit: cover;
  margin:0;
  border: solid #97f2f3 2px;
  box-shadow:5px 10px 18px #97f2f3;

}

.project-heading{
  position: absolute;
  top:50%;
  left:35%;
  font-family: 'Bad Script', cursive;
  font-weight: bold;

}

.ig-hashtag{
  position: absolute;
  top:50px;
  left:40%;
  transform: rotate(-10deg);
  margin-bottom: 100px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  color:white;

}

.my-thoughts-text{
  font-family: 'Bad Script', cursive;
  position: absolute;
  bottom:45%;
  left:40%;
  transform: rotate(-13deg);
}

/* plain header */

.plain-header {
  width: 100%;
  height: 100px;
  top: 0;
  background-color: black;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  border-bottom: 2px solid #97f2f3;
  margin-bottom: 100px;
  position:fixed;
  z-index: 1;
}

.plain-header .nav{
  position: relative;
  left : 70vw;
}

/* end plain header */

/* post list item in post_list.html */


.post-list-header{
  font-size: 60px;
  text-align: center;
  font-family: 'Bad Script', cursive;
  color:white;
  margin-bottom: 150px;
  margin-top:200px;
  transform: rotate(-10deg);

}

.post-list-item {
  /* width:600px; */
  height: 300px;
  border: solid 2px;
  background-color: #CDE1DD;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 1s ease;
}

.post-list-item:hover{
  transform:scale(1.15);
  box-shadow: 5px 5px 15px #97f2f3;
}

.card-container{
  justify-content: space-between;
}

.card-col{
  /* margin:40px; */
  justify-content: space-evenly;
}

.list-title{
  vertical-align: center;
  margin:0px;

}

.post-list-date{
  display:block;
}



.media{
  background-position: center;
  background-size: cover;
  height: 100%;

}

.date-in-card{
  margin-top:15px;
  width:100%;
  text-align: center;
  color:grey;
  font-size: x-small;
  font-style: italic;
}

.card-title{
  text-align: center;
  font-size:2rem;
  line-height: 2.3rem;
}

.justify-content-around{
  justify-content: space-around;
  height:100%;
}

.extract{
  text-align: center;
  justify-content: center;
  font-style: italic;
  font-size: small;
}

.list-container{
  width: 90vw;
  margin:auto;
  min-height: 800px;
}
/* end post list */

/* Post */
.post-content{
  min-height: 1000px;
  background-color: #002b44;
  margin-top:100px;
  margin-bottom: 100px;
  border-radius: 2%;
  border: 4px solid #CDE1DD;
  box-shadow: 15px 15px 15px 15p;
  margin-right: 40px;
}

.post-content .title{
  text-align: center;
  font-size: xx-large;
  margin-top:20px;
  margin-bottom:40px;
  color:white;
}

.post-content .content{
  /* margin-left:100px;
  margin-right: 40px;
  padding-left:100px;
} */
}
  



/* endpost */


@media only screen and (max-width: 1526px) {
  .ig-photo:nth-child(3) {
      display: none;
  }
  .ig-photo:nth-child(4) {
    display: none;
}
}

