<!DOCTYPE html>
{% load static  %}
{% load instagram_client %}
{% include 'base.html' %}

{% comment %} jquery {% endcomment %}

{% block content %}

    <div class="row justify-content-around">
        <div class="col col-xl-4 instagram-widget">
        <h3 class="ig-hashtag">#myInstagram <i class="fab fa-instagram"></i></h3>
        {% instagram_user_recent_media instagram_profile_name %}
        
        {% comment %}  recent media gives us last instagram posts. Here i'm looping through and picking the first four {% endcomment %}
        {% for media in recent_media|slice:":4" %}
            <img class='ig-photo' src="{{ media.thumbnail_src }}"/>

        {% endfor %}

        </div>

    <div class="col col-xl-3  mywork-widget1" id="myWrk">
         <img src="https://images.unsplash.com/photo-1531379410502-63bfe8cdaf6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="project/folder" class="project-img">
        <h3 class="project-heading">#myProjects</h3>
    </div>

   

    <div onclick="location.href='post';" class="col col-xl-3 mywork-widget2" id="myWrk">
              <img src="https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=966&q=80" alt="project/folder" class="project-img">
              <h3 class="my-thoughts-text">#myThoughts</h3>
    </div>
</div>
</div> 

<script src="{% static 'js/master.js' %}"></script>
{% comment %} </body> {% endcomment %}
{% endblock content %}

